<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div>div>div>div{
            width: 200px;
            height: 200px;
            border:1px solid #000;
            display: none;
        }
        div.active{
            display: block
        }
        input.active{
            background:red
        }
    </style>
</head>
<body>
    <div id='div'>
        <input type="button" v-for='d in arr' :value="d">
        <div v-for='d in arr'>{{d}}</div>
    </div>
</body>

<script src="../js/react.development.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/react-dom.development.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/babel.js" type="text/javascript" charset="utf-8"></script>

<script type='text/babel'>

	//用组件根据这个arr写出选项卡。
	//不用组件根据这个arr写成选项卡。
	
	class Tab extends React.Component{
		
		arr=['111','222','333']
		 
		index=0
		
		fn(i){
			this.index = i;
			this.forceUpdate();
		}
		
		render(){
			return (
				<div>
					{
						this.arr.map((d,i)=>(
							<input 
								key={i} 
								onClick={this.fn.bind(this,i)} 
								type="button" 
								className={i==this.index?"active":''} 
								value={d} 
							/>
						))
					}{
						this.arr.map((d,i)=>(
							<div key={i} className={i==this.index?"active":''}>{d}</div>
						))
					}
				</div>				
			)
		}
	}
	
	class Root extends React.Component{
		render(){
			return (
				<div id='div'>
					<Tab />
			    </div>
			)
		}
	}
	
	ReactDOM.render(<Root />,document.getElementById('div'))
	
    
</script>
</html>